@page "/"

<PageTitle>Home - watchin</PageTitle>

<div class="lolomo is-fullbleed">
    <span class="volatile-billboard-animations-container">
        <div class="billboard-row" role="region" aria-label="Featured Content">
            <div class="ptrack-container billboard-presentation-tracking">
                <div class="billboard-presentation-tracking ptrack-content">
                    <div class="billboard-presentation-tracking ptrack-content">
                        <div class="billboard billboard-pane billboard-originals trailer-billboard">
                            <div class="hero-image-wrapper">
                                <img class="hero static-image image-layer" src="http://occ-0-1361-3996.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABTOv5ob4WgvnumJ3QEva6nIGySCyujr0DNduNqRGZZJP_ghLsZP0F-WkXZImgw7LjR-jLLNpGpfzbifwkfF4gozr46yQ4sV27ryi.webp?r=f13" alt="">
                                <div class="trailer-vignette vignette-layer"></div>
                                <div class="hero-vignette vignette-layer"></div>
                                <div class="embedded-components button-layer">
                                    <span class="maturity-rating ">
                                        <span class="maturity-graphic">
                                            <svg id="maturity-rating-978" viewBox="0 0 100 100" class="svg-icon svg-icon-maturity-rating-978 ">
                                                <path id="FIll---Red" fill="#C52E37" d="M88.728 100H11.27C5.043 100 0 94.957 0 88.73V11.274C0 5.048 5.043 0 11.27 0h77.458C94.954 0 100 5.048 100 11.274V88.73c0 6.227-5.046 11.27-11.272 11.27"></path>
                                                <path id="18" fill="#FFFFFE" d="M81.473 15.482c.846 0 1.534.687 1.534 1.533v22.099c0 2.036-.283 3.563-.852 4.581-.568 1.02-1.542 1.947-2.918 2.784l-4.581 2.431 4.58 2.156c.777.417 1.424.834 1.93 1.254.51.42.917.931 1.215 1.528.298.6.507 1.32.626 2.157.12.84.182 1.858.182 3.058v23.533c0 .846-.686 1.533-1.533 1.533H43.21a1.536 1.536 0 01-1.535-1.533V59.063c0-2.218.255-3.896.763-5.036.51-1.135 1.538-2.127 3.1-2.961l4.582-2.156-4.581-2.43c-1.376-.838-2.35-1.778-2.92-2.832-.565-1.046-.855-2.563-.855-4.534V17.015c0-.846.688-1.533 1.534-1.533zm-45.008 0V84.13H21.103V34.62h-5.485l7.104-19.136h13.743zm29.913 39.176h-7.89c-.845 0-1.534.686-1.534 1.532v13.737c0 .846.689 1.534 1.535 1.534h7.89c.846 0 1.534-.688 1.534-1.534V56.19c0-.846-.688-1.532-1.535-1.532zm0-26.548h-7.89c-.845 0-1.534.686-1.534 1.532v12.014c0 .846.689 1.533 1.535 1.533h7.89c.846 0 1.534-.687 1.534-1.533V29.642c0-.846-.688-1.532-1.535-1.532z"></path>
                                            </svg>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="fill-container">
                                <div class="info meta-layer">
                                    <div class="logo-and-text meta-layer">
                                        <div class="titleWrapper">
                                            <div class="billboard-title"><img alt="Rise of Empires: Ottoman" class="title-logo " src="http://occ-0-1361-3996.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABZ0p8oT7TaVpGX_w8ch7yiPlbnqY-h85c-GyetBaZDhdtB09QEUYyf0Ht1c97UXYUGafcY-5r7aavVCpCFD3dKd-jwaXsNBXUcklmpbzSn3CKis8-bSLc8MvC1cI6bdF61mlILdPzSkqse7ScCKWGiezVUx0YHUSOH0pT6K3NEQIhVzPirBeEA.webp?r=ff4" title="Rise of Empires: Ottoman"></div>
                                        </div>
                                        <div class="info-wrapper">
                                            <div class="info-wrapper-fade">
                                                <div class="episode-title-container"></div>
                                                <div class="synopsis-fade-container">
                                                    <div class="synopsis no-supplemental">
                                                        <div class="ptrack-content">Ottoman Sultan Mehmed II wages an epic campaign to take the Byzantine capital of Constantinople and shapes the course of history for centuries.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="billboard-links button-layer forward-leaning">
                                            <a role="link" aria-label="Play - start with Audio Description turned on" data-uia="play-button-a11y" class="visually-hidden ad-playlink" href="/watch/80211730?trackId=254015180&amp;tctx=0%2C0%2Ccb3a88eb-63a4-4bf7-be1f-b3a1b459adee-25675080%2CNES_7570088EBBEFADF48EB5D2180DC7C2-951BB306AEF2A8-6D10E60AAC_p_1682419213578%2CNES_7570088EBBEFADF48EB5D2180DC7C2_p_1682419213578%2C%2C%2C%2C%2CVideo%3A80211648%2C&amp;ad=true"><span class="visually-hidden">&nbsp;</span></a>
                                            <a data-uia="play-button" role="link" aria-label="Play" class="d-inline playLink" href="#">
                                                <button type="button" class="btn btn-primary me-3">
                                                    <i class="fa-solid fa-play me-3"></i> Play
                                                </button>
                                            </a>
                                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#previewModal">
                                                <i class="fa-regular fa-circle-info me-3"></i> More info
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>

<div class="lolomoRow lolomoRow_title_card ltr-0" data-list-context="genre">
    <h2 class="rowHeader ltr-0">
        <a historystate="[object Object]" class="rowTitle ltr-0"
           href="/browse/m/genre/517631">
            <div class="row-header-title">European Period Pieces based on Books</div>
            <div class="aro-row-header more-visible">
                <div class="see-all-link">Explore All</div>
                <div class="aro-row-chevron icon-rightCaret"></div>
            </div>
        </a>
    </h2>
    <div class="rowContainer rowContainer_title_card" id="row-1">
        <div class="ptrack-container">
            <div class="rowContent slider-hover-trigger-layer">
                <div class="slider swiper">
                    <div class="slider-wrapper swiper-wrapper" >
                        <div class="slider-item swiper-slide">
                            <div class="title-card-container ltr-0">
                                <div id="title-card-1-0" class="title-card">
                                    <div class="ptrack-content" data-ui-tracking-context="%7B%22list_id%22:%22NES_7570088EBBEFADF48EB5D2180DC7C2-7766A6DEAAA8CD-F88627D4FB_p_1681884609455%22,%22location%22:%22homeScreen%22,%22rank%22:0,%22request_id%22:%2289f75b76-45d8-48b6-b664-39526275bb07-12304036%22,%22row%22:1,%22track_id%22:14831176,%22unifiedEntityId%22:%22Video:81460361%22,%22video_id%22:81460361,%22image_key%22:%22sdp%7C21953010-abe1-11ed-8eea-0e19eff8c66b%7Cen%22,%22supp_video_id%22:1,%22lolomo_id%22:%22NES_7570088EBBEFADF48EB5D2180DC7C2_p_1681884609455%22,%22maturityMisMatchEdgy%22:false,%22maturityMisMatchNonEdgy%22:false,%22appView%22:%22boxArt%22,%22usePresentedEvent%22:true%7D"
                                         data-tracking-uuid="266a14a8-d8e7-4390-a49e-be37658e319f">
                                        <a href="/watch/81460361?tctx=1%2C0%2C%2C%2C%2C%2C%2C%2C%2CVideo%3A81460361%2C" role="link"
                                           aria-label="The Last Kingdom: Seven Kings Must Die" tabindex="0" aria-hidden="false"
                                           class="slider-refocus">
                                            <div class="boxart-size-16x9 boxart-container boxart-rounded">
                                                <img class="boxart-image boxart-image-in-padded-container"
                                                     src="https://occ-0-3077-988.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABZ4eNebLyPwuRC2InWWx1YArImtnJOlVTit7VRFZcCfAfBbfVF1WO2QwcQg2y1jkHXTPRRELH1rwKVNfaAkUW8neTF2KhCuaFDSLUADGXGgou5I5ob9Eb5vhUQvkMT0ht3WZiuHCL5on8FDR_XdfOQR92GvkVWNBeXe6HsT7JTyaRhk9kirIDf9sNFKFEpo.jpg?r=782"
                                                     alt="">
                                                <div class="fallback-text-container" aria-hidden="true">
                                                    <p class="fallback-text">The Last Kingdom: Seven Kings Must Die</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="bob-container"></div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item swiper-slide">
                            <div class="title-card-container ltr-0">
                                <div id="title-card-1-1" class="title-card">
                                    <div class="ptrack-content"
                                         data-ui-tracking-context="%7B%22list_id%22:%22NES_7570088EBBEFADF48EB5D2180DC7C2-7766A6DEAAA8CD-F88627D4FB_p_1681884609455%22,%22location%22:%22homeScreen%22,%22rank%22:1,%22request_id%22:%2289f75b76-45d8-48b6-b664-39526275bb07-12304036%22,%22row%22:1,%22track_id%22:14831176,%22unifiedEntityId%22:%22Video:81260280%22,%22video_id%22:81260280,%22image_key%22:%22sdp%7Cf5d08ea0-29ec-11ed-b43b-12d61a58d94f%7Cen%22,%22supp_video_id%22:1,%22lolomo_id%22:%22NES_7570088EBBEFADF48EB5D2180DC7C2_p_1681884609455%22,%22maturityMisMatchEdgy%22:false,%22maturityMisMatchNonEdgy%22:false,%22appView%22:%22boxArt%22,%22usePresentedEvent%22:true%7D"
                                         data-tracking-uuid="780b24f0-8573-4d35-b958-665b65a64d40">
                                        <a href="/watch/81260280?tctx=1%2C1%2C%2C%2C%2C%2C%2C%2C%2CVideo%3A81260280%2C" role="link"
                                           aria-label="All Quiet on the Western Front" tabindex="0" aria-hidden="false"
                                           class="slider-refocus">
                                            <div class="boxart-size-16x9 boxart-container boxart-rounded">
                                                <img class="boxart-image boxart-image-in-padded-container"
                                                     src="https://occ-0-3077-988.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABW64yD9dpz9DSmJlilGkySsDjeo1nUJPc32rJ1V5S0glvmRccqgLsBxpmpfq6LxGEIm-Xabnj-oNDtIBLp6tfcR5mYmT7svwcMd8WldeQ1ANAr575lb7QKSvM3uoUxDmBgHH.jpg?r=af1"
                                                     alt="">
                                                <div class="fallback-text-container" aria-hidden="true">
                                                    <p class="fallback-text">All Quiet on the Western Front</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="bob-container"></div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item swiper-slide">
                            <div class="title-card-container ltr-0">
                                <div id="title-card-1-2" class="title-card">
                                    <div class="ptrack-content"
                                         data-ui-tracking-context="%7B%22list_id%22:%22NES_7570088EBBEFADF48EB5D2180DC7C2-7766A6DEAAA8CD-F88627D4FB_p_1681884609455%22,%22location%22:%22homeScreen%22,%22rank%22:2,%22request_id%22:%2289f75b76-45d8-48b6-b664-39526275bb07-12304036%22,%22row%22:1,%22track_id%22:14831176,%22unifiedEntityId%22:%22Video:80074249%22,%22video_id%22:80074249,%22image_key%22:%22sdp%7C5361cf80-74e3-11ec-96b9-121ed0af3697%7Cen%22,%22supp_video_id%22:1,%22lolomo_id%22:%22NES_7570088EBBEFADF48EB5D2180DC7C2_p_1681884609455%22,%22maturityMisMatchEdgy%22:false,%22maturityMisMatchNonEdgy%22:false,%22appView%22:%22boxArt%22,%22usePresentedEvent%22:true%7D"
                                         data-tracking-uuid="f4753f73-aa27-4246-8741-8577dcaedb38">
                                        <a href="/watch/80074249?tctx=1%2C2%2C%2C%2C%2C%2C%2C%2C%2CVideo%3A80074249%2C" role="link"
                                           aria-label="The Last Kingdom" tabindex="0" aria-hidden="false" class="slider-refocus">
                                            <div class="boxart-size-16x9 boxart-container boxart-rounded">
                                                <img class="boxart-image boxart-image-in-padded-container"
                                                     src="https://occ-0-3077-988.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABWfd_wVcG1RCNLvADPocoeNA4mOyZniNN4dpnqRyFqN_QYT5JxIFBZb3AlDVuJJVWbF8FKVZTxTzop3Ni-PohyWTKQ_5T9onM6wiEIjyjUJUBF0GlaejyS4T_kI1ISckM9L1.jpg?r=5a4"
                                                     alt="">
                                                <div class="fallback-text-container" aria-hidden="true">
                                                    <p class="fallback-text">The Last Kingdom</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="bob-container"></div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item swiper-slide">
                            <div class="title-card-container ltr-0">
                                <div id="title-card-1-3" class="title-card">
                                    <div class="ptrack-content"
                                         data-ui-tracking-context="%7B%22list_id%22:%22NES_7570088EBBEFADF48EB5D2180DC7C2-7766A6DEAAA8CD-F88627D4FB_p_1681884609455%22,%22location%22:%22homeScreen%22,%22rank%22:3,%22request_id%22:%2289f75b76-45d8-48b6-b664-39526275bb07-12304036%22,%22row%22:1,%22track_id%22:14831176,%22unifiedEntityId%22:%22Video:80997687%22,%22video_id%22:80997687,%22image_key%22:%22sdp%7C1c8ca4f1-0cd8-11ea-9ec6-12c7cb21ee24%7Cen%22,%22supp_video_id%22:1,%22lolomo_id%22:%22NES_7570088EBBEFADF48EB5D2180DC7C2_p_1681884609455%22,%22maturityMisMatchEdgy%22:false,%22maturityMisMatchNonEdgy%22:false,%22appView%22:%22boxArt%22,%22usePresentedEvent%22:true%7D"
                                         data-tracking-uuid="e7bc4250-a62f-4392-9a44-4176dd85e6ba">
                                        <a href="/watch/80997687?tctx=1%2C3%2C%2C%2C%2C%2C%2C%2C%2CVideo%3A80997687%2C" role="link"
                                           aria-label="Dracula" tabindex="0" aria-hidden="false" class="slider-refocus">
                                            <div class="boxart-size-16x9 boxart-container boxart-rounded">
                                                <img class="boxart-image boxart-image-in-padded-container"
                                                     src="https://occ-0-3077-988.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABWM8etyLrG-MeqINGGTVxxfAvA1xHidVjt8026gmf7h2j2wsMCQUfu0YWcFWLYtxYCcFbRL-m1ibdYdUjXWzxkIkZ7HN5IodfX2DWuDJ0apcAR_6OK8PXq02n1qvfakA7vR-.jpg?r=b12"
                                                     alt="">
                                                <div class="fallback-text-container" aria-hidden="true">
                                                    <p class="fallback-text">Dracula</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="bob-container"></div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item swiper-slide">
                            <div class="title-card-container ltr-0">
                                <div id="title-card-1-4" class="title-card">
                                    <div class="ptrack-content"
                                         data-ui-tracking-context="%7B%22list_id%22:%22NES_7570088EBBEFADF48EB5D2180DC7C2-7766A6DEAAA8CD-F88627D4FB_p_1681884609455%22,%22location%22:%22homeScreen%22,%22rank%22:4,%22request_id%22:%2289f75b76-45d8-48b6-b664-39526275bb07-12304036%22,%22row%22:1,%22track_id%22:14831176,%22unifiedEntityId%22:%22Video:80044536%22,%22video_id%22:80044536,%22image_key%22:%22sdp%7Cd969ba60-5a05-11e6-8bc9-0ac6ff7682bf%7Cen%22,%22supp_video_id%22:1,%22lolomo_id%22:%22NES_7570088EBBEFADF48EB5D2180DC7C2_p_1681884609455%22,%22maturityMisMatchEdgy%22:false,%22maturityMisMatchNonEdgy%22:false,%22appView%22:%22boxArt%22,%22usePresentedEvent%22:true%7D"
                                         data-tracking-uuid="dfd2c8ac-9cd7-46b4-aedc-e8f2272f6ff2">
                                        <a href="/watch/80044536?tctx=1%2C4%2C%2C%2C%2C%2C%2C%2C%2CVideo%3A80044536%2C" role="link"
                                           aria-label="Diary of a Chambermaid" tabindex="0" aria-hidden="false" class="slider-refocus">
                                            <div class="boxart-size-16x9 boxart-container boxart-rounded">
                                                <img class="boxart-image boxart-image-in-padded-container"
                                                     src="https://occ-0-3077-988.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABXguOgvNknWMEzvAJA2oiDVhghO0ipjUJSyiA1NuSCM4k-Z7wWwB9fyxDccwVkQfHTvTDKYgsNg5jvKAatkvPbXGQb_d4hXZjwU.webp?r=91c"
                                                     alt="">
                                                <div class="fallback-text-container" aria-hidden="true">
                                                    <p class="fallback-text">Diary of a Chambermaid</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="bob-container"></div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item swiper-slide">
                            <div class="title-card-container ltr-0">
                                <div id="title-card-1-5" class="title-card">
                                    <div class="ptrack-content"
                                         data-ui-tracking-context="%7B%22list_id%22:%22NES_7570088EBBEFADF48EB5D2180DC7C2-7766A6DEAAA8CD-F88627D4FB_p_1681884609455%22,%22location%22:%22homeScreen%22,%22rank%22:5,%22request_id%22:%2289f75b76-45d8-48b6-b664-39526275bb07-12304036%22,%22row%22:1,%22track_id%22:14831176,%22unifiedEntityId%22:%22Video:70243443%22,%22video_id%22:70243443,%22image_key%22:%22sdp%7Cc9437700-162d-11e6-8193-22000bdba567%7Cen%22,%22supp_video_id%22:1,%22lolomo_id%22:%22NES_7570088EBBEFADF48EB5D2180DC7C2_p_1681884609455%22,%22maturityMisMatchEdgy%22:false,%22maturityMisMatchNonEdgy%22:false,%22appView%22:%22boxArt%22,%22usePresentedEvent%22:true%7D"
                                         data-tracking-uuid="83650c5e-6a8f-4546-86e8-f97f85f34523">
                                        <a href="/watch/70243443?tctx=1%2C5%2C%2C%2C%2C%2C%2C%2C%2CVideo%3A70243443%2C"
                                           aria-label="Anna Karenina" tabindex="-1" aria-hidden="true" class="slider-refocus">
                                            <div class="boxart-size-16x9 boxart-container boxart-rounded">
                                                <img class="boxart-image boxart-image-in-padded-container"
                                                     src="https://occ-0-3077-988.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABdqAkQslNWFvif6wbHdFK6zncHgzbbBKPjmogwtPodwSTGzTOFJ_cvH142hnOOBRqVov8LyqEz-AXv7yBCz-xJns1TSrOPJqkNA.webp?r=2eb"
                                                     alt="">
                                                <div class="fallback-text-container" aria-hidden="true">
                                                    <p class="fallback-text">Anna Karenina</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="bob-container"></div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item swiper-slide">
                            <div class="title-card-container ltr-0">
                                <div id="title-card-1-6" class="title-card">
                                    <div class="ptrack-content"
                                         data-ui-tracking-context="%7B%22list_id%22:%22NES_7570088EBBEFADF48EB5D2180DC7C2-7766A6DEAAA8CD-F88627D4FB_p_1681884609455%22,%22location%22:%22homeScreen%22,%22rank%22:6,%22request_id%22:%2289f75b76-45d8-48b6-b664-39526275bb07-12304036%22,%22row%22:1,%22track_id%22:14831176,%22unifiedEntityId%22:%22Video:70001227%22,%22video_id%22:70001227,%22image_key%22:%22sdp%7C32eec780-97d0-11e6-b710-0e78272815a8%7Cen%22,%22supp_video_id%22:1,%22lolomo_id%22:%22NES_7570088EBBEFADF48EB5D2180DC7C2_p_1681884609455%22,%22maturityMisMatchEdgy%22:false,%22maturityMisMatchNonEdgy%22:false,%22appView%22:%22boxArt%22,%22usePresentedEvent%22:true%7D"
                                         data-tracking-uuid="18879118-6497-4c35-abbe-a282975598d7">
                                        <a href="/watch/70001227?tctx=1%2C6%2C%2C%2C%2C%2C%2C%2C%2CVideo%3A70001227%2C"
                                           aria-label="Vanity Fair" tabindex="-1" aria-hidden="true" class="slider-refocus">
                                            <div class="boxart-size-16x9 boxart-container boxart-rounded">
                                                <img class="boxart-image boxart-image-in-padded-container"
                                                     src="https://occ-0-3077-988.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABfCiR2ThAQ0TuKYb9Onlv4ss7Ahj7Cge73vJWNREcS_YCEOB4R5qALV3_tB3eMoCouayhOtvRRNT5VtbR49NYficd-JRwuTN86s.webp?r=049"
                                                     alt="">
                                                <div class="fallback-text-container" aria-hidden="true">
                                                    <p class="fallback-text">Vanity Fair</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="bob-container"></div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item swiper-slide">
                            <div class="title-card-container ltr-0">
                                <div id="title-card-1-7" class="title-card">
                                    <div class="ptrack-content"
                                         data-ui-tracking-context="%7B%22list_id%22:%22NES_7570088EBBEFADF48EB5D2180DC7C2-7766A6DEAAA8CD-F88627D4FB_p_1681884609455%22,%22location%22:%22homeScreen%22,%22rank%22:7,%22request_id%22:%2289f75b76-45d8-48b6-b664-39526275bb07-12304036%22,%22row%22:1,%22track_id%22:14831176,%22unifiedEntityId%22:%22Video:80208806%22,%22video_id%22:80208806,%22image_key%22:%22sdp%7Ca5daa9d0-f72e-11ec-b4b9-125b55706a63%7Cen%22,%22supp_video_id%22:1,%22lolomo_id%22:%22NES_7570088EBBEFADF48EB5D2180DC7C2_p_1681884609455%22,%22maturityMisMatchEdgy%22:false,%22maturityMisMatchNonEdgy%22:false,%22appView%22:%22boxArt%22,%22usePresentedEvent%22:true%7D"
                                         data-tracking-uuid="3803a56e-5772-407f-927c-e20cf8c1f6d9">
                                        <a href="/watch/80208806?tctx=1%2C7%2C%2C%2C%2C%2C%2C%2C%2CVideo%3A80208806%2C"
                                           aria-label="Valley of the Dead" tabindex="-1" aria-hidden="true" class="slider-refocus">
                                            <div class="boxart-size-16x9 boxart-container boxart-rounded">
                                                <img class="boxart-image boxart-image-in-padded-container"
                                                     src="https://occ-0-3077-988.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABZgBbW3peLNj2vSBnbyowzaoBorhqI4T2PAXBkfhBMQSrLHAqzDDh74BRfvpVkGrKf-8Gev8rp_yLIg5gLf2pgBqTpyLjnXuvDDanVMBGZh9mhGvnwOjTJgT9dIEb9GbJbmx.jpg?r=0fe"
                                                     alt="">
                                                <div class="fallback-text-container" aria-hidden="true">
                                                    <p class="fallback-text">Valley of the Dead</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="bob-container"></div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item swiper-slide">
                            <div class="title-card-container ltr-0">
                                <div id="title-card-1-8" class="title-card">
                                    <div class="ptrack-content"
                                         data-ui-tracking-context="%7B%22list_id%22:%22NES_7570088EBBEFADF48EB5D2180DC7C2-7766A6DEAAA8CD-F88627D4FB_p_1681884609455%22,%22location%22:%22homeScreen%22,%22rank%22:8,%22request_id%22:%2289f75b76-45d8-48b6-b664-39526275bb07-12304036%22,%22row%22:1,%22track_id%22:14831176,%22unifiedEntityId%22:%22Video:80244780%22,%22video_id%22:80244780,%22image_key%22:%22sdp%7C74793e20-239a-11ea-9475-0e1387033224%7Cen%22,%22supp_video_id%22:1,%22lolomo_id%22:%22NES_7570088EBBEFADF48EB5D2180DC7C2_p_1681884609455%22,%22maturityMisMatchEdgy%22:false,%22maturityMisMatchNonEdgy%22:false,%22appView%22:%22boxArt%22,%22usePresentedEvent%22:true%7D"
                                         data-tracking-uuid="13a133ca-74ee-4189-b2e4-ee01cea80dba">
                                        <a href="/watch/80244780?tctx=1%2C8%2C%2C%2C%2C%2C%2C%2C%2CVideo%3A80244780%2C"
                                           aria-label="Luna Nera" tabindex="-1" aria-hidden="true" class="slider-refocus">
                                            <div class="boxart-size-16x9 boxart-container boxart-rounded">
                                                <img class="boxart-image boxart-image-in-padded-container"
                                                     src="https://occ-0-3077-988.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABfMPP1wC-g3FQoktr02Nk2vMdn8eSuQf7Scg8-A2FhGFhp-4BvYzgGhOw3GUHtZwschffNdqAFA0G5ZuT02n5SAclTrcfwN5BnNGbtSZV9AMmUCoOn6kxQGi8PoPbXZWaezW.jpg?r=be1"
                                                     alt="">
                                                <div class="fallback-text-container" aria-hidden="true">
                                                    <p class="fallback-text">Luna Nera</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="bob-container"></div>
                                </div>
                            </div>
                        </div>

                        <div class="slider-item swiper-slide">
                            <div class="smallTitleCard loadingTitle fullWidth">
                                <div class="ratio-16x9 no-pulsate"></div>
                            </div>
                        </div>
                    </div>
                    <span class="handle handlePrev active" tabindex="0" role="button" aria-label="See previous titles">
                        <b class="indicator-icon icon-leftCaret"></b>
                    </span>
                    <span class="handle handleNext active" tabindex="0" role="button" aria-label="See more titles">
                        <b class="indicator-icon icon-rightCaret"></b>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="lolomoRow lolomoRow_title_card ltr-0" data-list-context="genre">
    <h2 class="rowHeader ltr-0">
        <a historyState="[object Object]" class="rowTitle ltr-0"
           href="/browse/m/genre/1189243">
            <div class="row-header-title">Award-Winning Bingeworthy TV Shows</div>
            <div class="aro-row-header more-visible">
                <div class="see-all-link">Explore All</div>
                <div class="aro-row-chevron icon-rightCaret"></div>
            </div>
        </a>
    </h2>
    <div class="rowContainer rowContainer_title_card" id="row-3">
        <div class="ptrack-container">
            <div class="rowContent slider-hover-trigger-layer">
                <div class="slider swiper">
                    <div class="slider-wrapper swiper-wrapper">
                        <div class="slider-item swiper-slide">
                            <div class="title-card-container ltr-0">
                                <div id="title-card-3-0" class="title-card">
                                    <div class="ptrack-content">
                                        <a href="/watch/70143836?tctx=3%2C0%2C%2C%2C%2C%2C%2C%2C%2CVideo%3A70143836%2C"
                                           role="link" aria-label="Breaking Bad"
                                           tabindex="0" aria-hidden="false"
                                           class="slider-refocus">
                                            <div class="boxart-size-16x9 boxart-container boxart-rounded">
                                                <img class="boxart-image boxart-image-in-padded-container"
                                                     src="http://occ-0-1361-3996.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABX4OL8E82D813VKb_Uf_bWkZwD9xUj92YodAaE9C3HtNnaiTBrgOnPF1BXGLUEIF3ddX5Hur6TqzpUY_S78RvVeDLR_7c84UXIQ.webp?r=a32"
                                                     alt="" />
                                                <div class="fallback-text-container"
                                                     aria-hidden="true">
                                                    <p class="fallback-text">
                                                        Breaking Bad
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="bob-container"></div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item swiper-slide">
                            <div class="title-card-container ltr-0">
                                <div id="title-card-3-1" class="title-card">
                                    <div class="ptrack-content">
                                        <a href="/watch/80192098?tctx=3%2C1%2C%2C%2C%2C%2C%2C%2C%2CVideo%3A80192098%2C"
                                           role="link" aria-label="Money Heist"
                                           tabindex="0" aria-hidden="false"
                                           class="slider-refocus">
                                            <div class="boxart-size-16x9 boxart-container boxart-rounded">
                                                <img class="boxart-image boxart-image-in-padded-container"
                                                     src="http://occ-0-1361-3996.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABbzBukwj-wl3qePSdFwS-Nwy6BGO7tIdqQ0oFSWYKqpdhrmIcLeD0CYnBd81oVLyS7eu5sROjfsOCmJmxso3w8xcqDcCdNitNN6nUpm2nLIKIbB7PUAsftFJnfhUpQk0tEi0.jpg?r=8a4"
                                                     alt="" />
                                                <div class="fallback-text-container"
                                                     aria-hidden="true">
                                                    <p class="fallback-text">
                                                        Money
                                                        Heist
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="bob-container"></div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item swiper-slide">
                            <div class="title-card-container ltr-0">
                                <div id="title-card-3-2" class="title-card">
                                    <div class="ptrack-content">
                                        <a href="/watch/80218448?tctx=3%2C2%2C%2C%2C%2C%2C%2C%2C%2CVideo%3A80218448%2C"
                                           role="link"
                                           aria-label="How to Sell Drugs Online (Fast)"
                                           tabindex="0" aria-hidden="false"
                                           class="slider-refocus">
                                            <div class="boxart-size-16x9 boxart-container boxart-rounded">
                                                <img class="boxart-image boxart-image-in-padded-container"
                                                     src="http://occ-0-1361-3996.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABT1OlCGALSBobG0O_ryWldZwb093Zwaa2PQ8bVhL6APY48qyRUAh9J2exR-oIZ23S8VdyJOBkRxQo8bUjRWppTPoYcSi86UDV1bc-1ijzCbayjIBR59veWD1jfeokB7sR3Cg.jpg?r=3e8"
                                                     alt="" />
                                                <div class="fallback-text-container"
                                                     aria-hidden="true">
                                                    <p class="fallback-text">
                                                        How to
                                                        Sell Drugs Online (Fast)
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="bob-container"></div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item swiper-slide">
                            <div class="title-card-container ltr-0">
                                <div id="title-card-3-3" class="title-card">
                                    <div class="ptrack-content">
                                        <a href="/watch/80021955?tctx=3%2C3%2C%2C%2C%2C%2C%2C%2C%2CVideo%3A80021955%2C"
                                           role="link"
                                           aria-label="Better Call Saul"
                                           tabindex="0" aria-hidden="false"
                                           class="slider-refocus">
                                            <div class="boxart-size-16x9 boxart-container boxart-rounded">
                                                <img class="boxart-image boxart-image-in-padded-container"
                                                     src="http://occ-0-1361-3996.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABb23UfK2ybvFeaezXTi5G2rR2W9Mhd3PwEwq1THSMLPxBcNm7a90G4v0o8KDSI01Z-q2FsNk4b-NYyUdiAQYxSB2k8xZh8324lo-WkJGiUZXcp9aC1sLrxp6FuUe7tQPQtZk.jpg?r=90f"
                                                     alt="" />
                                                <div class="fallback-text-container"
                                                     aria-hidden="true">
                                                    <p class="fallback-text">
                                                        Better
                                                        Call Saul
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="bob-container"></div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item swiper-slide">
                            <div class="title-card-container ltr-0">
                                <div id="title-card-3-4" class="title-card">
                                    <div class="ptrack-content">
                                        <a href="/watch/80057281?tctx=3%2C4%2C%2C%2C%2C%2C%2C%2C%2CVideo%3A80057281%2C"
                                           role="link" aria-label="Stranger Things"
                                           tabindex="0" aria-hidden="false"
                                           class="slider-refocus">
                                            <div class="boxart-size-16x9 boxart-container boxart-rounded">
                                                <img class="boxart-image boxart-image-in-padded-container"
                                                     src="http://occ-0-1361-3996.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABb9r_YwWbuPJsI8V6MH3OpjHskSMrjUhvOLnww2WpDO-yRNtRGHzCmwYs8tyA6EPvkxFx9Fi2T-MswccmSjOafeBnt_K03LYJfUW4DlKmzPhMLkVYOj0YSMrgGg4Vk80X4f9.jpg?r=42a"
                                                     alt="" />
                                                <div class="fallback-text-container"
                                                     aria-hidden="true">
                                                    <p class="fallback-text">
                                                        Stranger Things
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="bob-container"></div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item swiper-slide">
                            <div class="title-card-container ltr-0">
                                <div id="title-card-3-5" class="title-card">
                                    <div class="ptrack-content">
                                        <a href="/watch/81091393?tctx=3%2C5%2C%2C%2C%2C%2C%2C%2C%2CVideo%3A81091393%2C"
                                           role="link"
                                           aria-label="Demon Slayer: Kimetsu no Yaiba"
                                           tabindex="0" aria-hidden="false"
                                           class="slider-refocus">
                                            <div class="boxart-size-16x9 boxart-container boxart-rounded">
                                                <img class="boxart-image boxart-image-in-padded-container"
                                                     src="http://occ-0-1361-3996.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABUzP-7alqqEfbcNYTNhhL63TCUhtLR6aBaIcX6D-jC0Vx5W5W5g_pYDoPe2UBmEcPd2UPDRWmRVBuHS9GiT8lHZQ7Rbdzlp67js.webp?r=74c"
                                                     alt="" />
                                                <div class="fallback-text-container"
                                                     aria-hidden="true">
                                                    <p class="fallback-text">
                                                        Demon
                                                        Slayer: Kimetsu no Yaiba
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="bob-container"></div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item swiper-slide">
                            <div class="title-card-container ltr-0">
                                <div id="title-card-3-6" class="title-card">
                                    <div class="ptrack-content">
                                        <a href="/watch/70301870?tctx=3%2C6%2C%2C%2C%2C%2C%2C%2C%2CVideo%3A70301870%2C"
                                           aria-label="Vikings" tabindex="-1"
                                           aria-hidden="true"
                                           class="slider-refocus">
                                            <div class="boxart-size-16x9 boxart-container boxart-rounded">
                                                <img class="boxart-image boxart-image-in-padded-container"
                                                     src="http://occ-0-1361-3996.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABWrdYBjgvxmWMdKhqh6FqtlaqiZouuwHbvySxUinjjGn5sOXIMJ93cCPk6qUdYoUQkkqLxMzWzk3R8_ySaWoZwhYKK7MmvK7Gdc.webp?r=2f0"
                                                     alt="" />
                                                <div class="fallback-text-container"
                                                     aria-hidden="true">
                                                    <p class="fallback-text">
                                                        Vikings
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="bob-container"></div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item swiper-slide">
                            <div class="title-card-container ltr-0">
                                <div id="title-card-3-7" class="title-card">
                                    <div class="ptrack-content">
                                        <a href="/watch/70178217?tctx=3%2C7%2C%2C%2C%2C%2C%2C%2C%2CVideo%3A70178217%2C"
                                           aria-label="House of Cards"
                                           tabindex="-1" aria-hidden="true"
                                           class="slider-refocus">
                                            <div class="boxart-size-16x9 boxart-container boxart-rounded">
                                                <img class="boxart-image boxart-image-in-padded-container"
                                                     src="http://occ-0-1361-3996.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABfp3cRX3Z98SpIjjW3dLURs4mf0R41RgLnd1b-xZOqob-JdyNvJ57vdtlyi1MjjreYFe2FwN4nrJxZ2Ibl4xqtCt-Cp5MuE3uM4zmaACaNt62aUJIL8IpQNLlwLdlLu_FTY7.jpg?r=4ef"
                                                     alt="" />
                                                <div class="fallback-text-container"
                                                     aria-hidden="true">
                                                    <p class="fallback-text">
                                                        House
                                                        of Cards
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="bob-container"></div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item swiper-slide">
                            <div class="title-card-container ltr-0">
                                <div id="title-card-3-8" class="title-card">
                                    <div class="ptrack-content">
                                        <a href="/watch/81256675?tctx=3%2C8%2C%2C%2C%2C%2C%2C%2C%2CVideo%3A81256675%2C"
                                           aria-label="Hellbound" tabindex="-1"
                                           aria-hidden="true"
                                           class="slider-refocus">
                                            <div class="boxart-size-16x9 boxart-container boxart-rounded">
                                                <img class="boxart-image boxart-image-in-padded-container"
                                                     src="http://occ-0-1361-3996.1.nflxso.net/dnm/api/v6/6gmvu2hxdfnQ55LZZjyzYR4kzGk/AAAABQwlLaDrTzCWbgRPv1b4bdGsGL7y8rALUL39sN_irxlruyRjHXoSmywWIMCNvL9cGFhtdq14A67oWw9O5MEBaTrhMmxyM5Y5M8f1D13R6fJTzsR9vtrqQGnaHEqjPcYT3BO3.jpg?r=942"
                                                     alt="" />
                                                <div class="fallback-text-container"
                                                     aria-hidden="true">
                                                    <p class="fallback-text">
                                                        Hellbound
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="bob-container"></div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item swiper-slide">
                            <div class="smallTitleCard loadingTitle fullWidth">
                                <div class="ratio-16x9 no-pulsate"></div>
                            </div>
                        </div>
                        <div class="slider-item swiper-slide">
                            <div class="smallTitleCard loadingTitle fullWidth">
                                <div class="ratio-16x9 no-pulsate"></div>
                            </div>
                        </div>
                        <div class="slider-item swiper-slide">
                            <div class="smallTitleCard loadingTitle fullWidth">
                                <div class="ratio-16x9 no-pulsate"></div>
                            </div>
                        </div>
                        <div class="slider-item slider-item-">
                            <div class="smallTitleCard loadingTitle fullWidth">
                                <div class="ratio-16x9 no-pulsate"></div>
                            </div>
                        </div>
                    </div>
                    <span class="handle handlePrev active" tabindex="0" role="button" aria-label="See previous titles">
                        <b class="indicator-icon icon-leftCaret"></b>
                    </span>
                    <span class="handle handleNext active" tabindex="0" role="button" aria-label="See more titles">
                        <b class="indicator-icon icon-rightCaret"></b>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add the following to your Blazor component's .razor file -->
<button class="btn btn-primary" @onclick="ShowModal">View Film Details</button>

<div class="modal" tabindex="-1" role="dialog" style="display: @ModalDisplayStyle;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ModalTitle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="HideModal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @ModalContent
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="HideModal">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    private bool showModal;
    private string modalTitle;
    private RenderFragment modalContent;

    private string ModalDisplayStyle => showModal ? "block" : "none";
    private string ModalTitle => modalTitle ?? "Film Details";
    private RenderFragment ModalContent => modalContent ?? DefaultModalContent;

    private RenderFragment DefaultModalContent => builder =>
    {
        builder.OpenElement(0, "p");
        builder.AddContent(1, "No film details available.");
        builder.CloseElement();
    };

    private void ShowModal()
    {
        // Set the modal title and content here
        modalTitle = "Film Title";
        modalContent = builder =>
        {
            builder.OpenElement(0, "p");
            builder.AddContent(1, "Film description goes here.");
            builder.CloseElement();
        };

        showModal = true;
    }

    private void HideModal()
    {
        showModal = false;
        modalTitle = null;
        modalContent = null;
    }
}
