@page "/series-details"

<PageTitle>Rise of Empires: Ottomans - watchin</PageTitle>

<header class="hero">
    <div class="container">
        <div class="row">
            <h1 class="hero-img">
                <img src="https://download.muslimpro.com/images/qalbox/en/title/large/Rumi_title_large.png" alt="Title image" height="100%">
                <span class="visuallyhidden">Rumi: The Dance Of Love</span>
            </h1>
            <div class="img-logo__blur"></div>
            <div class="hero-details">
                <div class="details__blur"></div>
                <div class="details-grid">
                    <div class="container">
                        <div class="row">
                            <div class="details-buttons col-2 d-flex flex-column">
                                <button type="button" class="btn btn-light mb-3"><i class="fa-solid fa-play me-2"></i> Play</button>
                                <button type="button" class="btn btn-light"><i class="fa-regular fa-plus me-2"></i> Watchlist</button>
                            </div>
                            <div class="details-description col-7">
                                <div class="line-clamp-wrapper">
                                    <div class="line-clamp  product-header__content__details__synopsis typography-title-3" style="--link-length:4" dir="auto">
                                        This documentary explores the great philosopher and poet Rumi's philosophy on universal peace, humanism and love, which made him the subject of deep love and respect displayed by many all around the world—many regardless of their religion or belief.
                                    </div>
                                </div>
                                <div class="product-header__content__details__metadata secondary-text typ-footnote-emph">
                                    <div class="product-header__content__details__metadata--info">
                                        <span>Documentary</span>
                                        <span>2008</span>
                                        <span>59 min</span>
                                    </div>
                                </div>
                            </div>

                            <div class="details-crew col-2 typography-title-3">
                                <div>
                                    <span class="text-secondary">Cast:</span>
                                    <span class="crew-list">Sinan Tuzcu, Burak Sergen, Özcan Deniz, Müşfik Kenter, Selçuk Yöntem, Turan Özdemir</span>
                                </div>
                                <div>
                                    <span class="text-secondary">Director:</span>
                                    <span class="crew-list">Kürşat Kızbaz</span>
                                </div>
                            </div>
                            <div class="hero-description">
                                <p class="text-white w-50 mb-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, quod beatae? Nihil suscipit quae tempora modi deleniti at.</p>
                            </div>
                            <div class="hero-buttons d-flex justify-content-start align-content-center align-items-center">
                                <button type="button" class="btn btn-primary"><i class="fa-solid fa-play me-2"></i> Play</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


@code {

}
