<footer>
    <div class="container">
        <div class="row">
            <div class="global-footer d-flex justify-content-between typ-footnote">
                <div class="global-footer__left">
                    <p class="clr-secondary-text">
                        Copyright © 2023
                        <a data-link-to-exclude="" href="#" target="_blank" rel="noopener noreferrer">
                            sbs videos.
                        </a>
                        All rights reserved.
                    </p>
                    <p class="clr-primary-text global-footer__links">
                        <a data-link-to-exclude="" class="global-footer__links__link" target="_blank" href="#"
                           rel="noopener noreferrer">
                            Internet Service Terms
                        </a>
                        <a data-link-to-exclude="" class="global-footer__links__link" target="_blank" href="#"
                           rel="noopener noreferrer">
                            Privacy Statement
                        </a>
                        <a data-link-to-exclude="" class="global-footer__links__link" target="_blank" href="#"
                           rel="noopener noreferrer">
                            Cookie&nbsp;Policy
                        </a>
                        <a data-link-to-exclude="" class="global-footer__links__link" target="_blank" href="#"
                           rel="noopener noreferrer">
                            Support
                        </a>
                    </p>
                </div>
                <button class="global-footer__right locale-switcher-footer" data-test-ls-footer-btn="" type="button">
                    <span class="locale-switcher-footer__country-name" data-test-country-name="">
                        United States
                    </span>
                </button>
            </div>
        </div>
    </div>
</footer>

@code {

}
