<header class="header-area header-transparent">
    <nav class="navbar navbar-expand-lg w-100 header-sticky mb=5 d-flex align-content-center align-items-center" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                @*watchin*@
                
                <?xml version="1.0" encoding="UTF-8" ?>
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 130.97">
                    <polygon class="cls-1" points="70.33 128.88 70.33 85.72 40.63 128.88 0 128.88 0 2.08 44.71 2.08 44.71 48.39 76.8 2.08 115.03 2.08 115.03 48.66 145.97 2.08 198.14 2.08 111.27 128.88 70.33 128.88" />
                    <polygon class="cls-1" points="211.5 128.85 211.5 81.25 182.92 128.85 128.67 128.85 215.75 2.09 256.18 2.09 256.18 128.85 211.5 128.85" />
                    <polygon class="cls-1" points="287.76 128.88 287.76 43.37 266 43.37 266 2.08 354.07 2.08 354.07 43.37 332.47 43.37 332.47 128.88 287.76 128.88" />
                    <path class="cls-1" d="m423.39,130.97c-18.16,0-34.39-6.54-46.93-18.92-13.07-12.76-19.45-28.54-19.45-48.2,0-34.61,29.78-63.85,65.04-63.85,17.43,0,31.34,4.94,43.8,15.53,11.97,10.26,19.16,22.13,21.41,35.3l1.65,9.66h-44.92l-2.07-5.23c-3.41-8.63-10.68-13.98-18.97-13.98-13.79,0-21.23,12.31-21.23,23.9,0,13.97,9.19,24.5,21.37,24.5,10.34,0,16.06-7.54,19.03-13.86l2.24-4.76h45.43l-2.67,10.34c-7.65,29.64-33.27,49.56-63.72,49.56Z" />
                    <polygon class="cls-1" points="564.51 128.88 564.51 84.79 545 84.79 545 128.88 500.29 128.88 500.29 2.08 545 2.08 545 43.51 564.51 43.51 564.51 2.08 609.22 2.08 609.22 128.88 564.51 128.88" />
                    <rect class="cls-1" x="627.48" y="2.08" width="44.71" height="126.8" />
                    <polygon class="cls-1" points="762.72 128.88 733.58 82.5 734.09 128.88 690.48 128.88 690.48 2.08 727.67 2.08 757.16 50.01 756.34 2.08 800 2.08 800 128.88 762.72 128.88" />
                </svg>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/series">Series</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/movies">Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/watchlist">Watchlist</a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="#">Podcasts</a>
                    </li> -->
                </ul>
                <button class="btn search-btn btn-dark me-3">
                    <i class="fa-regular fa-magnifying-glass text-white"></i>
                </button>
                <button type="button" class="btn login-btn btn-outline-light me-3">Login</button>
                <button type="button" class="btn btn-primary">Get watchin</button>
            </div>
        </div>
    </nav>
</header>