.navbar {
    padding: 0;
}

    .navbar.bg-body-tertiary {
        background-color: #000;
    }

.header-transparent {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}

    .header-transparent .navbar {
        background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
    }

.navbar.blur-effect {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    position: fixed;
    z-index: 10;
    /* top: 16px; */
    margin: 16px;
    -moz-background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.65) !important;
    backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* filter: blur(15px); */
    /* box-shadow: 0 4px 8px rgb(152 155 168 / 15%); */
    border: none;
}

.sticky-bar {
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    transition: background .5s,top .5s;
    transition-delay: .15s;
    -webkit-box-shadow: 0 8px 20px rgb(117 115 111 / 20%);
    box-shadow: 0 8px 20px rgb(117 115 111 / 20%);
    z-index: 9999;
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 8px 20px rgb(117 115 111 / 20%);
}

nav:before {
    border-bottom: 3px solid hsla(0,0%,100%,.2);
    bottom: 0;
    content: "";
    height: 0;
    position: absolute;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    width: 100%;
}

.navbar .container-fluid {
    padding: 0 5%;
}

.blur-effect {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
    -moz-background-color: rgb(0, 0, 0);
    backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    /* filter: blur(15px); */
    /* box-shadow: 0 4px 8px rgb(152 155 168 / 15%); */
    box-shadow: 0 8px 20px rgb(117 115 111 / 20%);
}

.header-sticky.sticky-bar {
    -moz-background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.65) !important;
    backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: rgb(0 0 0 / 45%) 0px 8px 20px;
    ;
    border: none;
    /* box-shadow: 0 8px 20px rgba(25, 25, 25, 0.2); */
}

.navbar .nav-link {
    font-size: 1.4em;
    font-weight: 700;
    padding: 28px !important;
}

.navbar .nav-item {
    margin-right: 8px;
}

.navbar .nav-link.active {
    border-radius: 0;
    background-color: transparent;
}

.navbar .nav-link.active, .nav-link:focus, .nav-link:hover {
    color: #fff;
}

.navbar-brand {
    margin-right: 40px;
    font-weight: 800;
    font-size: 28px;
    color: #5200ff;
}

    .navbar-brand svg {
        fill: #5200ff;
        height: 35px;
    }

        .navbar-brand svg path {
            fill: #5200ff;
        }
