<header class="header-area header-transparent">
    <nav class="navbar navbar-expand-lg w-100 header-sticky mb=5 d-flex align-content-center align-items-center" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                watchin
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/series">Series</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/movies">Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/watchlist">Watchlist</a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="#">Podcasts</a>
                    </li> -->
                </ul>
                <button class="btn search-btn btn-dark me-3">
                    <i class="fa-regular fa-magnifying-glass text-white"></i>
                </button>
                <button type="button" class="btn login-btn btn-outline-light me-3">Login</button>
                <button type="button" class="btn btn-primary">Get watchin</button>
            </div>
        </div>
    </nav>
</header>